@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.eot?a7cafw');
    src: url('../fonts/icomoon/icomoon.eot?a7cafw#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.ttf?a7cafw') format('truetype'),
        url('../fonts/icomoon/icomoon.woff?a7cafw') format('woff'),
        url('../fonts/icomoon/icomoon.svg?a7cafw#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
    content: "\e904";
}

.icon-search-plus:before {
    content: "\e901";
}

.icon-instagram:before {
    content: "\e903";
}

.icon-twitter:before {
    content: "\e902";
}

.icon-facebook:before {
    content: "\e900";
}