@charset "UTF-8";
/*#221177*/
/*#190c58*/
@keyframes vibe {
  0%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  50% {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px);
  }
  75% {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}
@keyframes shape {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 100%;
  }
}
.fixall {
  margin: 0;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  text-decoration: none;
}
.fixall:hover {
  border: none;
  outline: none;
  box-shadow: none;
  text-decoration: none;
}
.fixall:focus {
  border: none;
  outline: none;
  box-shadow: none;
  text-decoration: none;
}

@keyframes mymove {
  0% {
    top: 15px;
  }
  50% {
    top: 30px;
  }
  100% {
    top: 15px;
  }
}
body {
  position: relative;
  font-family: tajwal;
  overflow: hidden;
}
body::-webkit-scrollbar {
  background-color: rgba(51, 51, 51, 0.5);
  width: 7px;
  height: 0px;
}
body::-webkit-scrollbar-thumb {
  background-color: #ce9b2f;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #ce9b2f rgba(51, 51, 51, 0.5);
}

.overflow {
  overflow: hidden !important;
}

@font-face {
  font-family: "tajwal";
  src: url("../fonts/TAJAWAL/TAJAWAL-REGULAR.TTF");
}
@font-face {
  font-family: "med";
  src: url("../fonts/TAJAWAL/TAJAWAL-MEDIUM.TTF");
}
@font-face {
  font-family: "bold";
  src: url("../fonts/TAJAWAL/TAJAWAL-BOLD.TTF");
}
.newsletter-cont {
  width: 100%;
  height: 45px;
  position: relative;
  margin-top: 23px;
}

.newsletter-input {
  width: 100%;
  height: 100%;
  padding: 0 25px;
  border-radius: 5px;
  color: #333;
  font-size: 17px;
  border: 2px solid transparent;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: right;
}
html[dir=ltr] .newsletter-input {
  text-align: left;
}
.newsletter-input::placeholder {
  color: rgba(0, 0, 0, 0.52);
  font-size: 17px;
  text-align: right;
}
html[dir=ltr] .newsletter-input::placeholder {
  text-align: left;
}
.newsletter-input:hover {
  border: 2px solid transparent;
}
.newsletter-input:focus {
  border: 2px solid #d7b132;
}
.newsletter-input:focus:hover {
  border: 2px solid #d7b132;
}

.newsletter-button {
  position: absolute;
  font-size: 20px;
  color: #333;
  left: 20px;
  top: 0;
  height: 100%;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.newsletter-button:hover {
  color: #fec300;
}
.newsletter-button:after {
  font-family: "icomoon" !important;
  content: "";
}
html[dir=ltr] .newsletter-button:after {
  content: "";
}
html[dir=ltr] .newsletter-button {
  left: auto;
  right: 20px;
}

.input-label {
  width: 100%;
  height: 50px;
  position: relative;
  margin-bottom: 30px;
}

.input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-bottom: 2px solid #333;
  color: #333;
  font-size: 16px;
  padding: 0 25px;
  -moz-appearance: textfield;
  transition: 0.2s ease all;
  text-align: right;
  resize: none;
}
html[dir=ltr] .input {
  text-align: left;
}
.input:hover {
  border-bottom: 2px solid #333;
}
.input:focus {
  border-bottom: 2px solid #d7b132;
}
.input:focus:hover {
  border-bottom: 2px solid #d7b132;
}
.input::-webkit-inner-spin-button, .input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.52);
  font-size: 16px;
  transition: 0.2s ease all;
}
html[dir=ltr] .floating-label {
  right: auto;
  left: 0;
}

.label-active {
  top: 0;
  right: 0;
  font-size: 13px;
  color: #222;
}
html[dir=ltr] .label-active {
  right: auto;
  left: 0;
}

.textarea-label {
  height: 100px;
  resize: none;
}
.textarea-label .floating-label {
  top: 15px;
}
.textarea-label .label-active {
  top: 0;
}
.textarea-label .input {
  padding: 25px;
}

.send {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  background-color: #222;
  height: 50px;
  margin: auto;
  font-size: 20px;
  color: #fff;
  font-family: bold;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  border-radius: 5px;
}
.send:hover {
  background-color: rgba(51, 51, 51, 0.95);
  color: #fff;
}

.select {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border-bottom: 2px solid #333;
  margin-bottom: 30px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #333;
}
.select:hover {
  border-bottom: 2px solid #333;
}
.select:focus {
  border-bottom: 2px solid #d7b132;
}
.select:focus:hover {
  border-bottom: 2px solid #d7b132;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 9;
  display: none;
}
@media (max-width: 767px) {
  nav {
    position: fixed;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.5);
  }
}
nav img.img-responsive {
  display: none;
  width: 100px;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 767px) {
  nav img.img-responsive {
    display: block;
  }
}
nav .social {
  display: none;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 767px) {
  nav .social {
    display: flex;
  }
}
nav .nav-ul {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  transform: scaleX(0);
  transform-origin: right;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
html[dir=ltr] nav .nav-ul {
  transform-origin: left;
}
nav .nav-ul.open {
  transform: scaleX(1);
  opacity: 1;
  visibility: visible;
}
@media (max-width: 767px) {
  nav .nav-ul {
    transform: scaleX(1);
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
  }
}
nav .nav-li {
  margin: 0 20px;
}
@media (max-width: 767px) {
  nav .nav-li {
    margin: 7px 0;
  }
}
nav .nav-link {
  font-size: 20px;
  color: #333;
  font-family: med;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
nav .nav-link:hover {
  color: #d7b132;
}
nav .nav-link.active {
  pointer-events: none;
  color: #d7b132;
}

.inner-header .nav-ul {
  padding-right: 26px;
}
html[dir=ltr] .inner-header .nav-ul {
  padding-left: 26px;
  padding-right: 0;
}
.inner-header .nav-li {
  margin: 0 15px;
}
@media (max-width: 992px) {
  .inner-header .nav-li {
    margin: 0 10px;
  }
}
.inner-header .nav-li:nth-of-type(3) {
  margin-left: 120px;
}
html[dir=ltr] .inner-header .nav-li:nth-of-type(3) {
  margin-right: 120px;
  margin-left: 0;
}
@media (max-width: 992px) {
  .inner-header .nav-li:nth-of-type(3) {
    margin-left: 100px;
  }
  html[dir=ltr] .inner-header .nav-li:nth-of-type(3) {
    margin-right: 100px;
    margin-left: 0;
  }
}
@media (max-width: 992px) {
  .inner-header .nav-li:nth-of-type(3) {
    margin-left: 0;
  }
  html[dir=ltr] .inner-header .nav-li:nth-of-type(3) {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .inner-header .nav-li {
    margin: 7px 0;
  }
}

.owl-carousel .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.owl-carousel .owl-dots .owl-dot {
  background: rgba(255, 255, 255, 0.502);
  outline: none;
  border: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 4px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.owl-carousel .owl-dots .owl-dot.active {
  background: #d7b132;
  pointer-events: none;
}
.owl-carousel .owl-dots .owl-dot:hover {
  background: #d7b132;
}

.gallery-cont .owl-carousel .owl-dots .owl-dot {
  background: rgba(51, 51, 51, 0.502);
}
.gallery-cont .owl-carousel .owl-dots .owl-dot.active {
  background: #d7b132;
}
.gallery-cont .owl-carousel .owl-dots .owl-dot:hover {
  background: #d7b132;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
header .header {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  header .header {
    height: auto;
    padding-top: 25px;
  }
}
header .menubtn {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
  width: 25px;
  cursor: pointer;
  position: relative;
  z-index: 999;
}
header .menubtn span {
  width: 25px;
  height: 2px;
  background-color: #f5f5f5;
  display: flex;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
}
header .menubtn span.med {
  width: 14px;
  margin: 6px 0;
}
header .menubtn:hover span {
  background-color: #d7b132;
}
header .menubtn:hover span.med {
  width: 25px;
}
header .menubtn.open span {
  background-color: #333;
}
header .menubtn.open span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
header .menubtn.open span:nth-child(2) {
  visibility: hidden;
  transform: translateX(60px);
}
html[dir=ltr] header .menubtn.open span:nth-child(2) {
  transform: translateX(-60px);
}
header .menubtn.open span:nth-child(3) {
  top: -8px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
header .menubtn.open:hover span {
  background-color: #d7b132;
}
header .lang {
  font-size: 17px;
  color: #f5f5f5;
  font-family: med;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 999;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  header .lang {
    z-index: 9;
  }
}
header .lang:hover {
  color: #d7b132;
}
header .lang.open {
  color: #333;
}
@media (max-width: 767px) {
  header .lang.open {
    color: #f5f5f5;
  }
}
header .lang.open:hover {
  color: #d7b132;
}
header.inner-header {
  position: relative;
  background-color: #333;
}
@media (max-width: 767px) {
  header.inner-header .header {
    padding: 15px 0;
    align-items: flex-start;
  }
  header.inner-header .header .menubtn {
    margin-top: 10px;
  }
  header.inner-header .header .lang {
    margin-top: 10px;
  }
}
header.inner-header .logo {
  display: flex;
  width: 90px;
  align-items: center;
  position: relative;
  z-index: 99;
}
@media (max-width: 767px) {
  header.inner-header .logo {
    z-index: 1;
  }
}

.loader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 99999;
  opacity: 1 !important;
}
.loader img {
  width: 250px;
}
@media (max-width: 767px) {
  .loader img {
    width: 120px;
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  to {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  to {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
}
.pulse {
  animation: pulse 5s infinite;
}

.breadcrumb-sec {
  position: relative;
  background-color: #222;
}

ol.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  position: relative;
  margin: 0;
}
@media (max-width: 767px) {
  ol.breadcrumb {
    height: 70px;
  }
}

ol.breadcrumb li {
  font-size: 20px;
  color: #fff;
  cursor: default;
}

ol.breadcrumb li.active {
  color: #fec300;
}

ol.breadcrumb li a {
  font-size: 20px;
  color: #fff;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

ol.breadcrumb li a:hover {
  color: #fec300;
}

.main-sec {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("../images/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.main-sec .headerDownBtn-section {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  right: 0;
  left: 0;
  bottom: 30px;
}
@media (max-width: 767px) {
  .main-sec .headerDownBtn-section {
    display: none;
  }
}
.main-sec .headerDownBtn-section .fixall {
  border-style: solid;
  border-width: 1px;
  border-color: #eceff1;
  border-radius: 14px;
  background-color: rgba(11, 37, 50, 0);
  width: 27px;
  height: 53px;
  position: relative;
}
.main-sec .headerDownBtn-section .fixall span {
  position: absolute;
  background-color: white;
  height: 9px;
  width: 1px;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  backface-visibility: hidden;
  animation: mymove 3s infinite;
}
@media (max-width: 767px) {
  .main-sec {
    background-attachment: unset;
    height: 300px;
  }
}
.main-sec .logo-cont {
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.82);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-sec .logo {
  width: 216px;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .main-sec .logo {
    width: 150px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(51, 51, 51, 0.82);
}

.seemore {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 3 - 30px);
  background-color: #222;
  height: 50px;
  margin: auto;
  font-size: 20px;
  color: #fff;
  font-family: bold;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  border-radius: 5px;
}
.seemore:hover {
  background-color: rgba(51, 51, 51, 0.95);
  color: #fff;
}
@media (max-width: 992px) {
  .seemore {
    margin-top: 75px;
  }
}
@media (max-width: 767px) {
  .seemore {
    width: 150px;
  }
}

.services-cont .seemore,
.clients-cont .seemore,
.news-sec-cont .seemore {
  width: 150px;
  background-color: #fec300;
  margin-top: 50px;
}
.services-cont .seemore:hover,
.clients-cont .seemore:hover,
.news-sec-cont .seemore:hover {
  color: #fff;
  background-color: rgba(254, 195, 0, 0.95);
}
@media (max-width: 992px) {
  .services-cont .seemore,
.clients-cont .seemore,
.news-sec-cont .seemore {
    margin-top: 75px;
  }
}

.map {
  width: 100%;
  height: 450px;
}

.gallery-cont {
  padding-top: 85px;
  padding-bottom: 100px;
  background-color: #e9ebee;
}
@media (max-width: 992px) {
  .gallery-cont {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

.home-gallery-title {
  color: #222;
  font-family: bold;
  font-size: 30px;
  margin-bottom: 50px;
  position: relative;
}
@media (max-width: 992px) {
  .home-gallery-title {
    margin-bottom: 25px;
    text-align: center;
    font-size: 25px;
  }
}

.gallery {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.gallery-img {
  width: calc(100% / 3 - 20px);
  margin-left: 30px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 530px;
  margin-bottom: 30px;
}
html[dir=ltr] .gallery-img {
  margin-left: 0;
  margin-right: 30px;
}
.gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  backface-visibility: hidden;
}
.gallery-img:nth-of-type(2) {
  height: 480px;
}
.gallery-img:nth-of-type(5) {
  margin-top: -50px;
  height: 480px;
}
.gallery-img:nth-of-type(3n) {
  margin-left: 0;
}
html[dir=ltr] .gallery-img:nth-of-type(3n) {
  margin-left: 0;
  margin-right: 0;
}
.gallery-img .gallery-overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(34, 34, 34, 0.36);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 36px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.gallery-img .gallery-overlay span {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
}
.gallery-img:hover img {
  transform: scale(1.02);
}
.gallery-img:hover .gallery-overlay {
  opacity: 1;
  visibility: visible;
}
.gallery-img:hover .gallery-overlay span {
  transform: scale(1);
}
@media (max-width: 992px) {
  .gallery-img {
    width: 100%;
    margin: auto;
    height: 480px;
  }
}

.gallery-page-cont {
  padding-top: 85px;
  padding-bottom: 100px;
  background-color: #e9ebee;
}
.gallery-page-cont .seemore {
  margin-top: 30px;
}

.gallery-page {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.gallery-page .gallery-img {
  width: calc(100% / 4 - 22.5px);
  height: 450px;
}
.gallery-page .gallery-img:nth-of-type(2) {
  height: 450px;
}
.gallery-page .gallery-img:nth-of-type(5) {
  height: 450px;
  margin-top: 0;
}
.gallery-page .gallery-img:nth-of-type(3n) {
  margin-left: 30px;
}
html[dir=ltr] .gallery-page .gallery-img:nth-of-type(3n) {
  margin-left: 0;
  margin-right: 30px;
}
@media (max-width: 992px) {
  .gallery-page .gallery-img:nth-of-type(3n) {
    margin: 0 auto 15px;
  }
}
.gallery-page .gallery-img:nth-of-type(4n) {
  margin-left: 0;
}
html[dir=ltr] .gallery-page .gallery-img:nth-of-type(4n) {
  margin-left: 0;
  margin-right: 0;
}
@media (max-width: 992px) {
  .gallery-page .gallery-img {
    width: 100%;
    margin: 0 auto 15px;
    height: 480px;
  }
}

.services-cont {
  background-image: url("../images/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding-top: 100px;
  padding-bottom: 200px;
}
@media (max-width: 992px) {
  .services-cont {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

.home-services-title {
  color: #fff;
  font-family: bold;
  font-size: 30px;
  margin-bottom: 50px;
  position: relative;
}
@media (max-width: 992px) {
  .home-services-title {
    margin-bottom: 25px;
    text-align: center;
    font-size: 25px;
  }
}

.services {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 25px;
  width: calc(100% / 3);
  margin-left: 30px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  backface-visibility: hidden;
}
html[dir=ltr] .service {
  margin-left: 0;
  margin-right: 30px;
}
.service:nth-of-type(3n) {
  margin-left: 0;
}
html[dir=ltr] .service:nth-of-type(3n) {
  margin-left: 0;
  margin-right: 0;
}
.service:hover {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}
@media (max-width: 992px) {
  .service {
    width: 100%;
    margin: 0;
  }
}

.service-title {
  color: #333;
  font-family: bold;
  font-size: 20px;
  margin-bottom: 15px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.service-title:hover {
  color: #d7b132;
}

.service-info {
  color: #222;
  font-size: 16px;
  line-height: 1.3;
  text-align: justify;
}

.service-img {
  min-width: 101px;
  height: 97px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
}

.services-page-cont {
  padding-top: 85px;
  padding-bottom: 100px;
  background-color: #e9ebee;
}
.services-page-cont .seemore {
  margin-top: 30px;
}

.services-page {
  display: flex;
  flex-wrap: wrap;
}
.services-page .service {
  width: calc(100% / 3 - 20px);
  margin-bottom: 30px;
}
html[dir=ltr] .services-page .service {
  margin-left: 0;
  margin-right: 30px;
}
.services-page .service:nth-of-type(3n) {
  margin-left: 0;
}
@media (max-width: 992px) {
  .services-page .service:nth-of-type(3n) {
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
  }
}
html[dir=ltr] .services-page .service:nth-of-type(3n) {
  margin-left: 0;
  margin-right: 0;
}
@media (max-width: 992px) {
  html[dir=ltr] .services-page .service:nth-of-type(3n) {
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
  }
}
.services-page .service:hover {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}
@media (max-width: 992px) {
  .services-page .service {
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
  }
}

.single-cont {
  padding-top: 85px;
  padding-bottom: 100px;
  background-color: #e9ebee;
}

.single {
  position: relative;
}

.single-img {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.single-desc {
  color: #222;
  font-size: 17px;
  line-height: 1.3;
  font-family: med;
  text-align: justify;
  margin-top: 20px;
}

.singlebtn {
  position: absolute;
  top: 15px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
html[dir=ltr] .singlebtn {
  left: auto;
  right: 0;
}
.singlebtn a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  height: 40px;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  font-family: bold;
  margin: 0 5px;
  border-radius: 5px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.singlebtn a:hover {
  background-color: rgba(51, 51, 51, 0.75);
}
@media (max-width: 767px) {
  .singlebtn {
    margin: auto;
    margin: 25px 0;
    position: static;
  }
}

.model-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.5);
  z-index: 99;
  display: none;
}
.model-fixed .model-cont {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.model-fixed .have-modal {
  width: 529px;
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transform: translateY(-120%);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.model-fixed .have-modal.show-modal {
  transform: translateY(0);
}
@media (max-width: 767px) {
  .model-fixed .have-modal {
    width: 90%;
  }
}
.model-fixed .modal-head {
  color: #222;
  font-family: bold;
  font-size: 25px;
  margin-bottom: 50px;
  position: relative;
  text-align: center;
}

.home-clients-title {
  color: #333;
  font-family: bold;
  font-size: 30px;
  margin-bottom: 50px;
  position: relative;
}
@media (max-width: 992px) {
  .home-clients-title {
    margin-bottom: 0;
    text-align: center;
    font-size: 25px;
  }
}

.clients-cont {
  background-color: #e9ebee;
  position: relative;
  padding-top: 75px;
  padding-bottom: 100px;
}
@media (max-width: 992px) {
  .clients-cont {
    padding-top: 50px;
    padding-bottom: 75px;
  }
}

.clients {
  display: flex;
  align-items: center;
  justify-content: center;
}

.client {
  width: 25%;
  position: relative;
  margin-left: 30px;
}
html[dir=ltr] .client {
  margin-left: 0;
  margin-right: 30px;
}
.client:nth-of-type(4n) {
  margin-left: 0;
}
html[dir=ltr] .client:nth-of-type(4n) {
  margin-left: 0;
  margin-right: 0;
}
@media (max-width: 992px) {
  .client {
    margin: auto;
    width: 100%;
  }
}

.client-img {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin: auto;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transform: translateY(50%);
  border: 5px solid #e9ebee;
}
.client-img img.img-responsive {
  width: auto;
}

.client-info {
  padding: 0 40px 25px;
  padding-top: 100px;
  background-color: #fff;
  text-align: center;
}

.client-name {
  color: #333;
  font-family: bold;
  font-size: 20px;
  margin-bottom: 25px;
}

.client-desc {
  color: #222;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
}

.clients-page-cont {
  padding-top: 85px;
  padding-bottom: 100px;
  background-color: #e9ebee;
}
.clients-page-cont .seemore {
  margin-top: 60px;
}

.clients-page {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .clients-page {
    flex-direction: column;
  }
}
.clients-page .client {
  width: calc(25% - 22.5px);
  position: relative;
  margin-left: 30px;
}
.clients-page .client:nth-of-type(4n) {
  margin-left: 0;
}
html[dir=ltr] .clients-page .client:nth-of-type(4n) {
  margin-left: 0;
  margin-right: 0;
}
@media (max-width: 767px) {
  .clients-page .client {
    width: 100%;
    margin: 0;
  }
}

.contact-cont {
  padding-top: 85px;
  padding-bottom: 100px;
  background-color: #e9ebee;
}
.contact-cont .contact-title {
  color: #333;
  font-family: bold;
  font-size: 30px;
  margin-bottom: 25px;
  text-align: center;
}
@media (max-width: 992px) {
  .contact-cont .contact-title {
    margin-bottom: 25px;
    text-align: center;
    font-size: 25px;
  }
}

.contact-info {
  padding-right: 25px;
}
html[dir=ltr] .contact-info {
  padding-left: 25px;
  padding-right: 0;
}
@media (max-width: 767px) {
  .contact-info {
    padding: 0;
    margin-top: 50px;
  }
}
.contact-info ul {
  margin-top: 50px;
}
@media (max-width: 767px) {
  .contact-info ul {
    margin: auto;
    width: max-content;
  }
}
.contact-info li > a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15px;
  color: #333;
  font-size: 18px;
  font-family: med;
}
.contact-info li > a span {
  margin: 0 5px;
}
.contact-info li > a i {
  font-size: 20px;
  color: #d7b132;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-info li > a i.icon-phone {
  transform: rotate(270deg);
}
html[dir=ltr] .contact-info li > a i.icon-phone {
  transform: none;
}
.contact-info .map {
  margin-top: 25px;
  height: 250px;
}

.home-about-cont {
  background-color: #e9ebee;
}

.home-about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 115px;
  margin-bottom: 100px;
}
@media (max-width: 992px) {
  .home-about {
    margin-top: 75px;
    margin-bottom: 75px;
  }
}
@media (max-width: 767px) {
  .home-about {
    flex-direction: column;
  }
}

.home-about-text {
  width: 40%;
}
@media (max-width: 767px) {
  .home-about-text {
    width: 100%;
  }
}

.home-about-title {
  color: #333;
  font-family: bold;
  font-size: 30px;
  margin-bottom: 25px;
}
@media (max-width: 992px) {
  .home-about-title {
    margin-bottom: 25px;
    text-align: center;
    font-size: 25px;
  }
}

.home-about-info {
  color: #222;
  font-family: med;
  font-size: 17px;
  line-height: 1.7;
  text-align: justify;
}

.home-about-img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .home-about-img {
    width: 100%;
    margin-top: 25px;
  }
}

.page-about-cont {
  padding-top: 85px;
  padding-bottom: 100px;
  background-color: #e9ebee;
}
.page-about-cont .home-about {
  margin: 0;
  align-items: flex-start;
}
.page-about-cont .home-about-text {
  width: 50%;
  margin-top: 50px;
}
@media (max-width: 767px) {
  .page-about-cont .home-about-text {
    width: 100%;
  }
}
.page-about-cont .home-about-info {
  margin-bottom: 15px;
}

.news-sec-cont {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .news-sec-cont {
    flex-direction: column;
    justify-content: center;
  }
}
.news-sec-cont img {
  width: 30%;
}
@media (max-width: 767px) {
  .news-sec-cont img {
    width: 100%;
  }
}
.news-sec-cont .blog {
  color: #333;
  font-size: 17px;
  line-height: 1.3;
  text-align: center;
  font-family: med;
  margin-bottom: 25px;
}

.home-news-title {
  color: #333;
  font-family: bold;
  font-size: 30px;
  margin-bottom: 50px;
  position: relative;
  text-align: center;
}
@media (max-width: 992px) {
  .home-news-title {
    margin-bottom: 25px;
    text-align: center;
    font-size: 25px;
  }
}

.news {
  position: relative;
  display: flex;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .news {
    flex-direction: column;
  }
}
.news .new {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin-left: 30px;
  margin-bottom: 30px;
}
.news .new:nth-of-type(2n) {
  margin-left: 0;
}
.news .new:last-of-type {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .news .new {
    margin-left: 0;
    width: 100%;
    margin-bottom: 15px;
  }
}
.news .news-img {
  width: 100%;
  height: 230px;
  overflow: hidden;
}
.news .news-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.news .news-img:hover img {
  transform: scale(1.05);
}
.news .news-name {
  color: #fff;
  font-family: bold;
  font-size: 20px;
  margin-bottom: 15px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.news .news-name:hover {
  color: #d7b132;
}
.news .news-info {
  color: #fff;
  font-size: 16px;
  line-height: 1.3;
  text-align: justify;
  font-family: med;
  margin-bottom: 25px;
}
.news .news-read {
  text-decoration: underline;
  color: #b5b5b5;
  font-size: 16px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.news .news-read:hover {
  color: #d7b132;
  text-decoration: none;
}

.news-page-cont {
  padding-top: 85px;
  padding-bottom: 100px;
  background-color: #e9ebee;
}
.news-page-cont .seemore {
  margin-top: 60px;
}
.news-page-cont .news {
  flex-wrap: wrap;
}
.news-page-cont .new {
  width: calc(50% - 15px);
}
.news-page-cont .news-name {
  color: #333;
}
.news-page-cont .news-name:hover {
  color: #d7b132;
}
.news-page-cont .news-info {
  color: #222;
}
.news-page-cont .news-read {
  color: #333;
}
.news-page-cont .news-read:hover {
  color: #d7b132;
}

footer {
  background-color: #333;
}
footer .footer {
  display: flex;
  align-items: center;
  padding: 70px 0;
}
@media (max-width: 767px) {
  footer .footer {
    padding: 50px 0;
    flex-direction: column;
  }
}
footer .news-cont,
footer .foot-logo-cont,
footer .foot-nav-cont {
  width: calc(100% / 3);
  margin-left: 30px;
}
@media (max-width: 767px) {
  footer .news-cont,
footer .foot-logo-cont,
footer .foot-nav-cont {
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 767px) {
  footer .news-cont {
    order: 3;
  }
}
@media (max-width: 767px) {
  footer .foot-logo-cont {
    order: 1;
  }
}
footer .foot-nav-cont {
  margin: 0;
}
@media (max-width: 767px) {
  footer .foot-nav-cont {
    order: 2;
    margin: 30px auto;
  }
}
footer .logo {
  width: 146px;
  display: flex;
  align-items: center;
  margin: auto;
}
@media (max-width: 767px) {
  footer .logo {
    width: 120px;
  }
}
footer .foot-header {
  color: #fff;
  font-family: bold;
  font-size: 18px;
  color: #fff;
  margin-bottom: 35px;
}
@media (max-width: 992px) {
  footer .foot-header {
    text-align: center;
  }
}
footer .newsletter-info {
  font-size: 16px;
  color: #fff;
}
@media (max-width: 992px) {
  footer .newsletter-info {
    text-align: center;
  }
}
footer .nav-foot {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: max-content;
  flex-wrap: wrap;
  height: 100px;
}
@media (max-width: 767px) {
  footer .nav-foot {
    margin: auto;
  }
}
footer .nav-foot-li {
  margin-bottom: 15px;
}
footer .nav-foot-li:nth-of-type(n+4) {
  margin: 0 50px 15px;
}
footer .nav-foot-li:nth-of-type(3n) {
  margin: 0;
}
footer .nav-foot-link {
  font-size: 16px;
  color: #fff;
  font-family: med;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
footer .nav-foot-link:hover {
  color: #d7b132;
}

.copyright-cont {
  background-color: #222;
}

.copright {
  min-height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .copright {
    padding: 30px 0 10px;
    flex-direction: column;
  }
}
.copright p {
  font-size: 16px;
  color: #fff;
  font-family: med;
}
@media (max-width: 767px) {
  .copright p {
    margin: 20px 0;
  }
  .copright p:last-of-type {
    margin-top: 0;
  }
}
.copright p span {
  color: #fec300;
}
.copright p a {
  color: #fec300;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.copright p a:hover {
  color: #fff;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 5;
}

.social-link {
  border-radius: 5px;
  background-color: #fff;
  margin: 0 3px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20.5px;
  color: #222;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.social-link:hover {
  color: #333;
  background-color: #fec300;
}

/*# sourceMappingURL=main.css.map */
