.newsletter-cont {
    width: 100%;
    height: 45px;
    position: relative;
}

.newsletter-input {
    width: 100%;
    height: 100%;
    padding: 0 25px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 1);
    font-size: 17px;
    border: 2px solid transparent;
    @include transition(all 0.3s ease-in-out);
    text-align: right;

    #{$ltr} & {
        text-align: left;
    }

    &::placeholder {
        color: rgba(0, 0, 0, 0.52);
        font-size: 17px;
        text-align: right;

        #{$ltr} & {
            text-align: left;
        }
    }

    &:hover {
        border: 2px solid transparent;
    }

    &:focus {
        border: 2px solid $logo;

        &:hover {
            border: 2px solid $logo;
        }
    }
}

.newsletter-button {
    position: absolute;
    font-size: 20px;
    color: $bg;
    left: 20px;
    top: 0;
    height: 100%;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
    @include transition(all 0.3s ease-in-out);

    &:hover {
        color: $gold;
    }

    #{$ltr} & {
        left: auto;
        right: 20px;
    }
}