body {
    position: relative;
    font-family: tajwal;

    &::-webkit-scrollbar {
        background-color: rgba(#333, 0.5);
        width: 7px;
        height: 0px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ce9b2f;
    }
}

html {
    scrollbar-width: thin;
    scrollbar-color: #ce9b2f rgba(#333, 0.5);
}

.overflow {
    overflow: hidden !important;
}

.container {
    @media (min-width: 1440px) {
        width: 1410px;
    }
}