@font-face {
    font-family: 'tajwal';
    src: url('../fonts/TAJAWAL/TAJAWAL-REGULAR.TTF');
}

@font-face {
    font-family: 'med';
    src: url('../fonts/TAJAWAL/TAJAWAL-MEDIUM.TTF');
}

@font-face {
    font-family: 'bold';
    src: url('../fonts/TAJAWAL/TAJAWAL-BOLD.TTF');
}