.gallery-cont {
    padding-top: 85px;
    padding-bottom: 100px;
    background-color: #e9ebee;

    @include sm {
        padding-top: 75px;
        padding-bottom: 75px;
    }


}

.home-gallery-title {
    color: $copy;
    font-family: bold;
    font-size: 30px;
    margin-bottom: 50px;
    position: relative;

    @include sm {
        margin-bottom: 25px;
        text-align: center;
        font-size: 25px;
    }
}

.gallery {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.gallery-img {
    width: calc(100% / 3 - 20px);
    margin-left: 30px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 530px;
    margin-bottom: 30px;

    #{$ltr} & {
        margin-left: 0;
        margin-right: 30px;
    }


    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include transition(all 0.3s ease-in-out);
        backface-visibility: hidden;
    }

    &:nth-of-type(2) {
        height: 480px;

    }

    &:nth-of-type(5) {
        margin-top: -50px;
        height: 480px;


    }

    &:nth-of-type(3n) {
        margin-left: 0;

        #{$ltr} & {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .gallery-overlay {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: rgba($copy, 0.36);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 36px;
        @include transition(all 0.3s ease-in-out);
        opacity: 0;
        visibility: hidden;

        span {
            @include transition(all 0.3s ease-in-out);
            transform: scale(0);
        }
    }

    &:hover {
        img {
            transform: scale(1.02);
        }

        .gallery-overlay {
            opacity: 1;
            visibility: visible;

            span {
                transform: scale(1);
            }
        }
    }


    @include sm {
        width: 100%;
        margin: auto;
        height: 480px;
    }
}

.gallery-page-cont {
    padding-top: 85px;
    padding-bottom: 100px;
    background-color: #e9ebee;

    .seemore {
        margin-top: 30px;
    }

    @include xs {
        padding-top: 35px;
        padding-bottom: 50px;
    }
}

.gallery-page {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .gallery-img {
        width: calc(100% / 4 - 22.5px);
        height: 450px;



        &:nth-of-type(2) {
            height: 450px;


        }

        &:nth-of-type(5) {
            height: 450px;
            margin-top: 0;


        }

        &:nth-of-type(3n) {
            margin-left: 30px;

            #{$ltr} & {
                margin-left: 0;
                margin-right: 30px;
            }

            @include sm {
                margin: 0 auto 15px;
            }
        }

        &:nth-of-type(4n) {
            margin-left: 0;

            #{$ltr} & {
                margin-left: 0;
                margin-right: 0;
            }
        }

        @include sm {
            width: 100%;
            margin: 0 auto 15px;
            height: 480px;
        }
    }


}

.filter-slider-sec {
    margin-bottom: 35px;

    .owl-nav {
        width: 0;
        height: 0;

        button[class^=owl-] {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            outline: none;
            border: none;
            color: rgba($bg, 0.75);
            font-size: 18px;
            @include transition(all 0.3s ease-in-out);

            &.owl-next {
                left: -10px;
            }

            &.owl-prev {
                right: -10px;
            }

            &:hover {
                color: $logo;
            }
        }
    }
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    padding: 0 15px;
    white-space: nowrap;
    background-color: transparent;
    color: $bg;
    font-family: med;
    font-size: 16px;
    border: 2px solid $bg;
    border-radius: 5px;
    @include transition(all 0.3s ease-in-out);
    margin: auto;
    width: min-content;

    &:hover,
    &:focus {
        color: $bg;
        border: 2px solid $logo;
        background-color: $logo;
    }

    &.active-filter {
        pointer-events: none;
        opacity: 0.5;
        border: 2px solid $logo;
    }
}